.contact-section {
    max-width: 700px;
    margin: auto;
    padding: 40px 20px;
}

.contact-section h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.contact-info {
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 16px;
}

.instagram-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px; 
    vertical-align: middle; 
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contact-form .btn {
    align-self: flex-start;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form .btn:hover {
    background-color: #ffffff;
}
